This notebook contains solution to relax challange.

The presented solution works. It is slow to find all cases for adopted users.
Reason: try-catch

In [32]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
from datetime import date

Read data

In [3]:
#users = pd.read_csv('takehome_users.csv')

u_engagements = pd.read_csv('takehome_user_engagement.csv')

In [4]:
users = pd.read_csv('takehome_users.csv', encoding='latin-1', index_col='object_id')

In [5]:
users.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
object_id,,,,,,,,,
1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [ ]:
#dt_object = datetime.fromtimestamp(timestamp)

In [ ]:
#users.last_session_creation_time = datetime.fromtimestamp(int(users.last_session_creation_time))

In [6]:
u_engagements.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

get all users with more than 3 logins.

In [7]:
users_3 = pd.DataFrame(u_engagements.groupby('user_id')['time_stamp'].count() > 2)
users_3.columns = ['logs_more3']

Checking the invite distribution, and invite - email ratio.

In [8]:
users_by_invite = users.groupby('creation_source')['name'].count()
users_by_invite

creation_source
GUEST_INVITE          2163
ORG_INVITE            4254
PERSONAL_PROJECTS     2111
SIGNUP                2087
SIGNUP_GOOGLE_AUTH    1385
Name: name, dtype: int64

In [9]:
users_invite_mail = users.groupby([
    'creation_source', 'opted_in_to_mailing_list'])['name'].count()
users_invite_mail

creation_source     opted_in_to_mailing_list
GUEST_INVITE        0                           1622
                    1                            541
ORG_INVITE          0                           3176
                    1                           1078
PERSONAL_PROJECTS   0                           1599
                    1                            512
SIGNUP              0                           1562
                    1                            525
SIGNUP_GOOGLE_AUTH  0                           1047
                    1                            338
Name: name, dtype: int64

It seems to me that regardless of the creation source, 1 in 4 is signing for e-mail.

Merging data

In [ ]:


data_all = pd.merge(left=users, right=users_3, left_index=True, right_index=True)
data_all = pd.merge(left=data_all, right=u_engagements, left_index=True, right_on='user_id')

data_all.head()

In [74]:
#data_all.loc[data_all.name == 'Poole Matthew']

In [12]:
data_all.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,logs_more3,time_stamp,user_id,visited
0,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,False,2014-04-22 03:53:30,1,1
1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-11-15 03:45:04,2,1
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-11-29 03:45:04,2,1
3,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-12-09 03:45:04,2,1
4,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-12-25 03:45:04,2,1

In [71]:
data_all.tail()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,logs_more3,time_stamp,user_id,visited
207912,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,False,2013-09-06 06:14:15,11996,1
207913,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,False,2013-01-15 18:28:37,11997,1
207914,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,False,2014-04-27 12:45:16,11998,1
207915,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,False,2012-06-02 11:55:59,11999,1
207916,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,False,2014-01-26 08:57:12,12000,1

Some names contain other characters, not letters from English alphabet.

extacting data for users with 3 or more logins.

In [14]:
data_users_3 = data_all.loc[data_all.logs_more3 == True]

In [15]:
data_users_3.head()

,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,logs_more3,time_stamp,user_id,visited
1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-11-15 03:45:04,2,1
2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-11-29 03:45:04,2,1
3,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-12-09 03:45:04,2,1
4,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-12-25 03:45:04,2,1
5,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,True,2013-12-31 03:45:04,2,1

Reseting index of data users.

In [16]:
data_users = data_users_3.set_index(['name', 'time_stamp']).sort_index().reset_index()

In [20]:
data_users = data_users[['name', 'time_stamp']]
data_users.head()

             name           time_stamp
0     Abbott Anna  2012-10-24 14:41:16
1     Abbott Anna  2012-10-28 14:41:16
2     Abbott Anna  2012-11-13 14:41:16
3  Abbott Rebecca  2013-01-22 23:23:31
4  Abbott Rebecca  2013-02-28 23:23:31

In [73]:
data_users.tail()

                   name          time_stamp  date_stamp
200997  Østergaard Maja 2014-05-18 06:45:07  2014-05-18
200998  Østergaard Maja 2014-05-21 06:45:07  2014-05-21
200999  Østergaard Maja 2014-05-23 06:45:07  2014-05-23
201000  Østergaard Maja 2014-05-24 06:45:07  2014-05-24
201001  Østergaard Maja 2014-05-25 06:45:07  2014-05-25

In [26]:
data_users.time_stamp = pd.to_datetime(data_users.time_stamp)

In [34]:
data_users['date_stamp'] = data_users.time_stamp.dt.date

In [35]:
data_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201002 entries, 0 to 201001
Data columns (total 3 columns):
name          201002 non-null object
time_stamp    201002 non-null datetime64[ns]
date_stamp    201002 non-null object
dtypes: datetime64[ns](1), object(2)
memory usage: 4.6+ MB

In [36]:
data_users.head()

             name          time_stamp  date_stamp
0     Abbott Anna 2012-10-24 14:41:16  2012-10-24
1     Abbott Anna 2012-10-28 14:41:16  2012-10-28
2     Abbott Anna 2012-11-13 14:41:16  2012-11-13
3  Abbott Rebecca 2013-01-22 23:23:31  2013-01-22
4  Abbott Rebecca 2013-02-28 23:23:31  2013-02-28

check the difference between two dates changed into string. We use only the first substring in the loop.

In [48]:
str(data_users.date_stamp[1] - data_users.date_stamp[0])

'4 days, 0:00:00'

In [44]:
list_users = list(data_users.name.unique())

In [69]:
adopted_user = []

for user in list_users[120:125]:
    user_dates = pd.DataFrame(data_users.loc[data_users.name == user])
    
    differences = []
    for row in range(1, n_rows):
        try:
            diff = int(str(user_dates.iloc[row]['date_stamp'] - user_dates.iloc[row - 1]['date_stamp']).split(' ')[0])
            differences.append(diff)
        except ValueError:
            print('Illegal date or dates')
            continue
    
    min_diff = 8
    
    for count in range(1, len(differences)):
        if differences[count] == 0 or differences[count-1] == 0:
            continue
        else:
            min_diff = min(min_diff, differences[count] + differences[count-1])

            
    if min_diff <8:
        adopted_user.append(user)

print(adopted_user)

['Bak Lea', 'Baker Maria', 'Baldwin Harrison', 'Balfour Gemma', 'Ball Imogen']